/* .menu{
    flex-direction:column;
} */
nav{
    flex-direction: column;
    width: 100%;
}



html{
    scroll-behavior: smooth;
}


#content{
    width:100%;
    height: 700px;
    flex-direction: column;
}

.main-text p{
    width:300px;
}


.main{
    width:128%;
}
.menu li a{
    font-size: 0.8rem;
    padding: 0px 8px;
}

.see{
    width:150px;
    font-size: medium;
}

/* .main-text h1{
    font-size: 2.5em;
} */


.image img{
    height: 200px;
    width: 300px;
}
.image {
    width: 288px;
    height: 252px;
}
.main-text{
    width: 320px;
    border-radius: 30px;
    margin-bottom: 20px;
    
}

#about{
    justify-content: center;
    display: flex;
    height: 433px;
    width: 100%;
    align-items: center;
    margin-bottom: 4%;
}


#projects{
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%;
    margin-left: 20%; */
}

.box div{
    margin-bottom: 15%;
    align-items: center;
    justify-content: center;
}
#skills{
    width:100%;
    height: 1000px;
}


.skill-container{
    flex-direction: column;
    align-items: center;
}
.sk-img img{
    width:75%;
}

.sk-list{
    width: 64%;
    align-self: center;
}
.about-content{
    margin-top: 7%;
    
    width: 350px;
}


#contact{
    width:100%;
    /* height: 100%; */
    flex-direction: column;
    height: 600px;
}

.contact-container{
    flex-direction: column;
}

footer{
    font-size: 11px;
    text-align: center;
    width: 100%;
}

